@keyframes gameOver {
    0% {
        opacity: 0;
        background-color: #b63b3b;
    }

    20% {
        opacity: .2;
        background-color: #c58b40;
    }

    40% {
        opacity: .4;
        background-color: #e99e65;
    }

    60% {
        opacity: .6;
        background-color: #ff7d7d;
    }

    80% {
        opacity: .8;
        background-color: #fee19f;
    }

    100% {
        opacity: 1;
        background-color: #000000a3;
    }
}

.game-over-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow-x: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000a3;
    opacity: 0;
}

.game-over-modal--active {
    animation: gameOver .3s ease-in-out forwards;
}

.game-over-message {
    text-align: center;
    color: wheat;
    font-size: 36px;
}

.try-again-btn {
    padding: 10px;
    width: 120px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #d0dff5;
    transition: background-color .2s ease-in-out, transform .2s ease-in-out;
}

.try-again-btn:hover {
    background-color: #d0f5e6;
    transition: background-color .2s ease-in-out, transform .2s ease-in-out;
}

.try-again-btn:active {
    transform: scale(.95);
    transition: transform .2s ease-in-out;
}

