@import './settingsStyle.css';
@import './general.css';
@import './gameOver.css';

@keyframes fade {
    0% {
        background-color: #b4b4b4;
        }

    20% {
        background-color: #afbbbb;
        
    }

    40% {
        background-color: #aac3c3;
        
    }

    60% {
        background-color: #a5cbcb;
        
    }

    80% {
        background-color: #9fd5d5;
        
    }

    100% {
        background-color: #98dede;
        }
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: #dcd6bc;
    border: 10px solid #dcd6bc;
}

.grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.bomb {
    border: 5px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
}

.safe {
    border: 5px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
}

.checked {
    animation: fade .1s ease-in-out forwards;
    border-color: #c1f8f8 #389393 #389393 #fbffff;
    color: black;
}

.bomb.checked {
    background-color: #cd5c5c !important;
    color: black;
    border-color: #eb8a8a #986161 #986161 #ffaeae !important;
}

.flag {
    color: black;
}

.one {
    color: #821e08;
  }
  
  .two {
    color: #176464;
  }
  
  .three {
    color: #935816;
  }
  
  .four{
    color: #8552b8;
  }

  .flags-counter {
      width: 180px;
      margin: 0 auto;
      margin-bottom: 10px;
      text-align: center;
      color: #333;
      font-size: 22px;
  }
